#aboutus
  %section#beginning
    %h3 In the beginning...
    %p Julian-Vida all began in 2012, when a stay-at-home mom was looking for something to do when not taking care of the kids. Since a three year old girl and a newborn boy were not enough, there had to be something to do!
  %section#candles
    %h3 About our candles
    %p When we first set out, our goal was to create a great smelling, long lasting and clean burning candle that was just as good as those big names you know about, but so much cheaper. This made using soy wax an easy choice. It met all of our requirements and it's also eco-friendly. Using something as renewable as soybeans means that many of those beans you see today, will be tomorrow's candles.
  %section#donation
    %h3 Why we donate
    %p Our newborn son was born with a condition called Craniosynostosis and had to undergo corrective surgery when he was only two and a half months old.  We were so impressed with the care we received and how well we were treated, we wanted to give a little back.  That's why 20% of every candle sale will be donated to Nationwide Children's Hospital, so others can receive the same treatment as we did.
