%img.img-polaroid.candle{ :src => "/assets/candle.png" }
%p
.hero-unit.highlight
  .lead Julian-Vida candles warm your home with scents of the season. Each candle is made by hand upon order and a portion of the proceeds benefit Nationwide Children's Hospital.
