/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-image: url("/assets/background-tile.jpeg");
}

.navbar.navbar-fixed-top .navbar-inner {
  background: url("/assets/navbar.png") repeat-x;
  box-shadow: none;
-webkit-box-shadow: none; }

.brand {
  background: url("/assets/logo2.png") no-repeat;
  height: 91px;
  width: 300px;
  position: absolute;
z-index: 9999; }

.candle {
  margin-top: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutus {
  margin-top: 4em;
}

.jvhighlight{
  margin-top: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
